services:
  redis:
    image: redis:latest
    command: ["redis-server", "--appendonly", "yes"]
    restart: unless-stopped
    volumes:
      - redis_data:/data
    networks:
      - ersilia_network
  nginx:
    image: nginx:alpine
    depends_on:
      - eos2db3_api
      - eos2gw4_api
      - eos4u6p_api
      - eos5axz_api
      - eos8aa5_api
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - nginx_cache:/var/cache/nginx
    restart: unless-stopped
    networks:
      - ersilia_network
  eos2db3_api:
    image: ersiliaos/eos2db3
    environment:
      REDIS_HOST: redis
      REDIS_PORT: "6379"
      REDIS_URI: "redis://redis:6379"
      REDIS_EXPIRATION: "604800"
    restart: unless-stopped
    ports:
      - "36595:80"
    networks:
      - ersilia_network
    depends_on:
      - redis
  eos2gw4_api:
    image: ersiliaos/eos2gw4
    environment:
      REDIS_HOST: redis
      REDIS_PORT: "6379"
      REDIS_URI: "redis://redis:6379"
      REDIS_EXPIRATION: "604800"
    restart: unless-stopped
    ports:
      - "57727:80"
    networks:
      - ersilia_network
    depends_on:
      - redis
  eos4u6p_api:
    image: ersiliaos/eos4u6p
    environment:
      REDIS_HOST: redis
      REDIS_PORT: "6379"
      REDIS_URI: "redis://redis:6379"
      REDIS_EXPIRATION: "604800"
    restart: unless-stopped
    ports:
      - "45213:80"
    networks:
      - ersilia_network
    depends_on:
      - redis
  eos5axz_api:
    image: ersiliaos/eos5axz
    environment:
      REDIS_HOST: redis
      REDIS_PORT: "6379"
      REDIS_URI: "redis://redis:6379"
      REDIS_EXPIRATION: "604800"
    restart: unless-stopped
    ports:
      - "33221:80"
    networks:
      - ersilia_network
    depends_on:
      - redis
  eos8aa5_api:
    image: ersiliaos/eos8aa5
    environment:
      REDIS_HOST: redis
      REDIS_PORT: "6379"
      REDIS_URI: "redis://redis:6379"
      REDIS_EXPIRATION: "604800"
    restart: unless-stopped
    ports:
      - "53099:80"
    networks:
      - ersilia_network
    depends_on:
      - redis
networks:
  ersilia_network:
    external: true
    name: ersilia_network
    driver: bridge

volumes:
  redis_data:
  nginx_cache:
